.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  font-size: 50px;
  position: relative;
  top: -50px;
}

.services {
  position: relative;
  top: 50px;
}

.nxproxy {
  position: relative;
  top: 50px;
}

.lawinserver {
  position: relative;
  top: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.backendStatus {
  font-size: 40px;
}

.xmppStatus {
  font-size: 40px;
}

.xmppClients {
  font-size: 25px;
}

.matchmakerStatus {
  font-size: 40px;
}

.nxproxystatus {
  font-size: 40px;
}

.br {
  display: block;
  margin: 1px;
}

/*
 Colors:

 Green: Online,
 Red: Offline,
 Orange: N/A, No infos from API.
*/
.nxproxydot {
  color: orange;
}
.backenddot {
  color: orange;
}
.xmppdot {
  color: orange;
}
.matchmakerdot {
  color: orange;
}
.titledot {
  color: orange;
}

.online {
  color: green;
}
.offline {
  color: red;
}
.nan {
  color: orange;
}
