.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.centertitle {
  position: absolute;
  top: 10px;
  color: rgb(113, 113, 113);
  font-size: 50px;
}

.projects {
  position: relative;
  top: 20px;
  font-size: 20px;
}

.LawinServerV2{
  position: relative;
  top: 20px;
}

.LawinServerV2SubInfo{
  font-size: 15px;
}